<h1>Characters</h1>
<% @characters.each do |character|%>
<div class="container">
<h2><%= link_to character.name, character_path(character)%></h2>
<img src="<%= character.img_url%>"/>
<%=link_to "Execute!", character_path(character), method: :delete%>
</div>
<%end%>
<br/>
<button><h1><%=link_to "Add Character",  new_character_path%></h1></button>
